img{
    
    height : 270px; 
	width: 320px; 
	margin: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cursor{
  cursor: pointer;
}

.navegacion {
  position: fixed;
  left: 600px;
  top: 5px;
  padding: 30px;
  border: 1px;
  margin: 0px;
  z-index: 1;
 
}