.miclase{
	padding: 25px;
	border: 1px;
	margin: 25px;

}

.navegacion {
  position: fixed;
  left: 600px;
  top: 5px;
  padding: 30px;
  border: 1px;
  margin: 0px;
  z-index: 1;
 
}

.miEstilo{
	border: 2px solid #00FFFF !important;
}

.boton{
	background-color: #F35122;
}

.cuadro{
	top: 900px;
	height : 70%; 
	width: 75%; 
	padding: 10px;
	margin: 10px 10px 10px 200px;
	border: 2px solid black;
	position: absolute;
}
img{
    
    height : 75%; 
	width: 75%; 
	margin: auto;
}





