img{
    
    height : 270px; 
    width: 320px; 
    margin: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cursor{
  cursor: pointer;
}

.navegacion {
  position: fixed;
  left: 600px;
  top: 5px;
  padding: 30px;
  border: 1px;
  margin: 0px;
  z-index: 1;
 
}

.coloca{
    position: absolute;
    left: 850px;
    top: 315px;
    z-index: 1;
}

.despliega{
 width: 250px; 
 height: 250px;
}

.despliegaChico{
 width: 150px; 
 height: 150px;
}

.elimina{
    position: absolute;
    left: 600px;
    
    
}