.logoIMG{
        height: 40%; 
	width: 40%; 
	margin: auto;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 15px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.navegacion {
  position: fixed;
  left: 600px;
  top: 5px;
  padding: 30px;
  border: 1px;
  margin: 0px;
  z-index: 1;
 
}

.selectpicker{
  size: A4
}



