.miclase{
    padding: 25px;
    border: 1px;
    margin: 25px;

}

.navegacion {
    position: fixed;
    left: 600px;
    top: 5px;
    padding: 10px;
    border: 1px;
    margin: 0px;
    z-index: 1;

}

.navbar-header > a > img{
    height : 200px; 
    width: 200px; 
    margin-top: -65px;
}

.miEstilo{
    border: 2px solid cyan !important;
}

.boton{
    background-color: cyan;
}

.cuadro{
    top: 100px;
    height : 75%; 
    width: 75%; 
    padding: 10px;
    margin: 50px 10px 10px 200px;
    border: 2px solid cyan;
    position: absolute;
}
img{
    height : 75%; 
    width: 75%; 
    margin: auto;
}

.panel-group{
    margin-top: 600px;
}

.panel{
    border-bottom: 2px solid cyan;
}





